In [143]:
import pandas as pd
import numpy as np

In [144]:
#sufixo="_ativos_mes_anterior"
sufixo=""

In [145]:
empresa='TELHANORTE'

In [146]:

# Dia da apuração
hoje = pd.to_datetime('today').date()
#hoje = pd.to_datetime('27/04/2022', format="%d/%m/%Y").date()
ANO=str(hoje.year)

In [147]:
# IDENTIFICAÇÃO SE TELHANORTE OU TUMELERO
ID_UNN=1 # 1=TELHANORTE    4=TUMELERO

In [148]:
# MÍNIMO NPS CONSIDERADO PARA ELEGIBILIDADE DA LOJA AO PRÊMIO COLETIVO TINA
NPS_ALVO=65

In [149]:
# Dias a serem considerados

MES_COMERCIAL=30 # MES COMERCIAL TEM 30 DIAS
MEIO_MES=int(MES_COMERCIAL/2.)

In [150]:
MESES= ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
I_MESES= ['01','02','03','04','05','06','07','08','09','10','11','12']
MES=MESES[hoje.month-1]
I_MES=I_MESES[MESES.index(MES)]
I_MES_ANTERIOR=I_MESES[MESES.index(MES)-1]

In [151]:
I_MES

'05'

In [152]:
MES_ANTERIOR=MESES[MESES.index(MES)-1]
MES_ANTERIOR

'abr'

In [153]:
print('Como a apuração está sendo feita em '+MES+', a apuração coletiva será correspondente ao do mês anterior '+MES_ANTERIOR)

Como a apuração está sendo feita em mai, a apuração coletiva será correspondente ao do mês anterior abr

In [154]:
I_DIAS=pd.to_datetime(ANO+'-'+I_MES_ANTERIOR).days_in_month

In [155]:
print(str(I_DIAS)+' dias em '+MES_ANTERIOR)

30 dias em abr

In [156]:
# Período de Apuração   -   Faltas injustificadas no período
# Fevereiro de 2022
DATA_I = pd.to_datetime(ANO+'-'+I_MES_ANTERIOR+'-01', format='%Y/%m/%d')  # data inicial AAAA-MM-DD
DATA_F = pd.to_datetime(ANO+'-'+I_MES_ANTERIOR+'-'+str(I_DIAS), format='%Y/%m/%d')  # data final AAAA-MM-DD
print('Considerando ')
print('Data de início:')
print(DATA_I)
print('')
print('Data final:')
print(DATA_F)

Considerando
Data de início:
2022-04-01 00:00:00

Data final:
2022-04-30 00:00:00

In [157]:
# Diretório ou pasta base
DIRETORIO='C:/apuracao/'+empresa+'/'
print('Dentro da pasta '+DIRETORIO+' tem a pasta ano e mês? Se não crie como explicado a seguir.')

Dentro da pasta C:/apuracao/TELHANORTE/ tem a pasta ano e mês? Se não crie como explicado a seguir.

In [158]:
print('A apuração da premiação coletiva é correspondente ao mês anterior.')
print('Portanto, buscar arquivos do mês anterior na pasta:')
DIRETORIO_ANTERIOR=DIRETORIO+ANO+'/'+MES_ANTERIOR+'/'
print(DIRETORIO_ANTERIOR)

A apuração da premiação coletiva é correspondente ao mês anterior.
Portanto, buscar arquivos do mês anterior na pasta:
C:/apuracao/TELHANORTE/2022/abr/

In [159]:
DIRETORIO_INFO='C:/apuracao/info/'
print('Pasta com informações bases: '+DIRETORIO_INFO)
print('Aqui deve ter os arquivos com:')

Pasta com informações bases: C:/apuracao/info/
Aqui deve ter os arquivos com:

In [160]:
# ARQUIVO DE ENTRADA: VALORES DE PREMIAÇÃO POR GRUPO DE CARGOS
F_PREMIO_CARGO=DIRETORIO_INFO+'premiacao_cargo_alvo.csv'
print(F_PREMIO_CARGO)

C:/apuracao/info/premiacao_cargo_alvo.csv

In [161]:
# ARQUIVO DE ENTRADA: CARGOS CONTEMPLADO PELA PREMIAÇÃO COLETIVA TINA
F_CARGOS=DIRETORIO_INFO+'cargos_contemplados_grupo.csv'
print(F_CARGOS)

C:/apuracao/info/cargos_contemplados_grupo.csv

In [162]:
# ARQUIVO DE ENTRADA: LOJAS TINA ROLL-OUT DE JANEIRO DE 2022 COM COD_LOJA, SIGLA E NOME
FILE_LOJAS_TINA=DIRETORIO_INFO+'lojas_pilotos_rollout.csv'
print(FILE_LOJAS_TINA)

C:/apuracao/info/lojas_pilotos_rollout.csv

In [163]:
# ARQUIVO DE ENTRADA: ALVOS COLETIVOS DAS LOJAS
F_ALVOS=DIRETORIO_INFO+'target_store.csv'
print('Arquivo de alvos coletivos')
print(F_ALVOS)

Arquivo de alvos coletivos
C:/apuracao/info/target_store.csv

In [164]:
# PASTA COM ARQUIVOS BASES DO RH
DIRETORIO_ENTRA=DIRETORIO+ANO+'/'+MES+'/ORIGINAIS/'
print('Pasta:')
print(DIRETORIO_ENTRA)
print('Coloque nesta pasta os arquivos bases vindos do RH no mês da apuração:')
print('     base de ativos, ')
print('     base de falta injustificada; e')
print('     base de afastamentos.')

Pasta:
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/
Coloque nesta pasta os arquivos bases vindos do RH no mês da apuração:
     base de ativos,
     base de falta injustificada; e
     base de afastamentos.

In [165]:
# PASTA COM PLANILHA DE CHECAGEM PARA O ANALISTA DE NEGÓCIOS
DIRETORIO_CHECAGEM=DIRETORIO+ANO+'/'+MES+'/CHECAGEM/'
print('A planilha de checagem da apuração coletiva realizada em '+MES+' está aqui:')
print(DIRETORIO_CHECAGEM)

A planilha de checagem da apuração coletiva realizada em mai está aqui:
C:/apuracao/TELHANORTE/2022/mai/CHECAGEM/

In [166]:
# PASTA COM BASES DE VENDAS PUXADAS DO MicroStrategy
DIRETORIO_VENDAS_NPS=DIRETORIO+ANO+'/'+MES_ANTERIOR+'/ORIGINAIS/' # pasta com vendas do MicroStrategy
print('Pasta:')
print(DIRETORIO_VENDAS_NPS)
print('Coloque nesta pasta a base de VENDAS de '+MES_ANTERIOR+' puxadas no MicroStrategy.')

Pasta:
C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/
Coloque nesta pasta a base de VENDAS de abr puxadas no MicroStrategy.

In [167]:
# PASTA COM BASES DE NPS 
print('Pasta:')
print(DIRETORIO_VENDAS_NPS)
print('Coloque nesta pasta a base de NPS de '+MES_ANTERIOR+' baixada do SOLUX.')

Pasta:
C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/
Coloque nesta pasta a base de NPS de abr baixada do SOLUX.

In [168]:
# PASTA DE SAÍDA DAS VERBAS DE PREMIAÇÕES TINA EM EXCEL A SEREM ENVIADOS AO RH
DIRETORIO_SAI=DIRETORIO+ANO+'/'+MES+'/para_RH/'

In [169]:
# ARQUIVO DE SAÍDA PARA O RH - EM EXCEL
FILE_SAI=DIRETORIO_SAI + "VERBA_4117_PREMIACAO_COLETIVA"+sufixo+".xlsx"
FILE_SAI_SEM=DIRETORIO_SAI + "VERBA_4117_PREMIACAO_COLETIVA_sem_considerar_falta_injustificada"+sufixo+".xlsx"
print('Arquivos de saída para RH')
print(FILE_SAI)

Arquivos de saída para RH
C:/apuracao/TELHANORTE/2022/mai/para_RH/VERBA_4117_PREMIACAO_COLETIVA.xlsx

In [170]:
print('Arquivos de backup SEM CONSIDERAR FALTA INJUSTIFICADA')
print(FILE_SAI_SEM)

Arquivos de backup SEM CONSIDERAR FALTA INJUSTIFICADA
C:/apuracao/TELHANORTE/2022/mai/para_RH/VERBA_4117_PREMIACAO_COLETIVA_sem_considerar_falta_injustificada.xlsx

In [171]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM=DIRETORIO_CHECAGEM + "CHECANDO_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar a situação dos colaboradores em relação à Premiação Coletiva Tina')
print(FILE_CHECAGEM)

Planilha para checar a situação dos colaboradores em relação à Premiação Coletiva Tina
C:/apuracao/TELHANORTE/2022/mai/CHECAGEM/CHECANDO_APURACAO_COLETIVA.xlsx

In [172]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM_LOJAS=DIRETORIO_CHECAGEM + "CHECANDO_LOJAS_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar lojas elegíveis à Premiação Coletiva Tina')
print(FILE_CHECAGEM_LOJAS)

Planilha para checar lojas elegíveis à Premiação Coletiva Tina
C:/apuracao/TELHANORTE/2022/mai/CHECAGEM/CHECANDO_LOJAS_APURACAO_COLETIVA.xlsx

In [173]:
# ARQUIVO DE ENTRADA: faltas injustificadas do mês e do mês anterior
F_FALTAS = DIRETORIO_ENTRA+"PREMIACOES TINA.xlsx"
F_FALTAS_MES_ANTERIOR=DIRETORIO_ANTERIOR+"ORIGINAIS/PREMIACOES TINA.xlsx"
print(F_FALTAS_MES_ANTERIOR)
print(F_FALTAS)

C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/PREMIACOES TINA.xlsx
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/PREMIACOES TINA.xlsx

In [174]:
import os
# ARQUIVO DE ENTRADA: base de afastados do mês anterior
for file in os.listdir(DIRETORIO_ENTRA):
    if file.startswith('Empregados-Afastados-19000101-a-') & file.endswith('.xlsx'):
        F_AFASTADOS=os.path.join(DIRETORIO_ENTRA, file)
F_AFASTADOS # BASE DE AFASTAMENTOS DESDE O INÍCIO ATÉ O MÊS ANTERIOR

'C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/Empregados-Afastados-19000101-a-20220430.xlsx'

In [175]:
# ARQUIVO DE ENTRADA: base de afastados do mês anterior
for arquivo in os.listdir(DIRETORIO_ENTRA):
    if arquivo.startswith('Empregados-Afastados-'+ANO+I_MES_ANTERIOR) & arquivo.endswith('.xlsx'):
        F_RETORNO=os.path.join(DIRETORIO_ENTRA, arquivo)
# ARQUIVO DE ENTRADA: base de afastados do mês anterior
F_RETORNO

'C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/Empregados-Afastados-20220401-a-20220430.xlsx'

In [176]:
arquivo

'wr2b-111909177.xlsx'

In [177]:
# ARQUIVO DE ENTRADA: NPS DAS LOJAS
FILE_NPS=DIRETORIO_VENDAS_NPS+'Ranking NPS.csv'
print(''+FILE_NPS)

C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/Ranking NPS.csv

In [178]:
# ARQUIVO DE ENTRADA: VENDAS DO MÊS ANTERIOR 
FILE_VENDAS=DIRETORIO_VENDAS_NPS+'RECEITA_LOJA_MENSAL.xlsx'
print(FILE_VENDAS)

C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/RECEITA_LOJA_MENSAL.xlsx

In [179]:
# ARQUIVO DE ENTRADA: base de ativos MAIS ATUALIZADO gerado pela ADP
nome_base='wr2b-111909177.xlsx'
#F_ATIVOS=DIRETORIO_ENTRA+nome_base
F_ATIVOS=DIRETORIO_ANTERIOR+'ORIGINAIS/'+nome_base
print(F_ATIVOS)

C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/wr2b-111909177.xlsx

In [180]:
# CARREGANDO PRÊMIOS POR GRUPO DE CARGOS 
PREMIOS=pd.read_csv(F_PREMIO_CARGO, sep=';')

In [181]:
print(PREMIOS)

      Grupo  ALVO1  ALVO2
0        GG    800   1600
1         A    600   1200
2         B    400    800
3         C    200    400
4         D    100    200
5  NAO TINA      0      0

In [182]:
print(FILE_LOJAS_TINA)

C:/apuracao/info/lojas_pilotos_rollout.csv

In [183]:
# CARREGANDO TODAS AS LOJAS TINA DO ROLL-OUT DA TELHANORTE
lojas_tina=pd.read_csv(FILE_LOJAS_TINA,sep=';', encoding='latin1')

In [184]:
#TODO Se o mês for janeiro, pegar dezembro do ano anteriorf

# if MESES.index(MES) == 0:
#     MES_ANTERIOR=MES[11]
#     DIRETORIO_ANTERIOR=DIRETORIO+str(int(float(ANO))-1)+'/'+MES_ANTERIOR+'/originais/'
#     print(DIRETORIO_ANTERIOR)

# print(DIRETORIO_ANTERIOR)

In [185]:
# CARREGANDO ALVOS COLETIVOS DAS LOJAS
print('Carregando alvos coletivos do arquivo:')
print(F_ALVOS)
alvos=pd.read_csv(F_ALVOS, sep=';', encoding='latin1')

Carregando alvos coletivos do arquivo:
C:/apuracao/info/target_store.csv

In [186]:
# FILTRANDO ALVOS DO MÊS ANTERIOR
alvos=alvos[(alvos['id_unn']==ID_UNN) & (alvos['id_mes']==int(float(ANO+I_MES_ANTERIOR)))].copy(deep=True)

In [187]:
alvos

     id_unn  id_fil  id_mes  target_sales_store_1  target_sales_store_2
117       1       1  202204               4222729               4417709
118       1      75  202204               1599580               1698420
119       1      24  202204               8462883               8794235
120       1      57  202204               2257801               2418465
121       1      31  202204               2513037               2695489
122       1      48  202204               1507592               1625143
123       1      52  202204               1702626               1820097
124       1      56  202204               3042992               3206973
125       1      36  202204               3011064               3203174
126       1      38  202204               2348111               2479512
127       1      32  202204               3290751               3501658
128       1      19  202204               8026309               8302751
129       1      12  202204               5201755               5417401
130       1      54  202204               2437710               2612566
131       1       3  202204              19556614              20365671
132       1      30  202204              10474420              10843131
133       1      27  202204               2024388               2169889
134       1      34  202204               2593292               2772994
135       1      29  202204               1768299               1951614
136       1       8  202204               3025118               3200657
137       1      37  202204               2538288               2689959
138       1      23  202204               2933834               3213696
139       1      55  202204               2927500               3139764
140       1      66  202204               2566428               2726896
141       1      71  202204               3627299               3868503
142       1      74  202204               2728981               2893058
143       1       9  202204               2982561               3141049
144       1      64  202204               5139625               5351774
145       1      72  202204               1753628               1873650
146       1      26  202204               5040452               5269598
147       1      28  202204               3843981               4039012
148       1      22  202204               2277617               2415186
149       1      40  202204               4403925               4614318
150       1      43  202204               3021009               3188370
151       1      73  202204               2126228               2274356
152       1      51  202204               3809933               3991701
153       1      39  202204               1892494               2039986
154       1      70  202204               1548968               1651055
155       1      25  202204               6496375               6800432

In [188]:
# # TROCANDO VÍRGULA POR PONTO PARA DECIMAIS
# # CONSIDERANDO SOMENTE COLUNA DOS ALVOS 1 E 2
# alvos['target_sales_store_1']=alvos['target_sales_store_1'].str.replace(",",".").astype(float)
# alvos['target_sales_store_2']=alvos['target_sales_store_2'].str.replace(",",".").astype(float)

# # CHECAGEM
# alvos

In [189]:
FILE_VENDAS

'C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/RECEITA_LOJA_MENSAL.xlsx'

In [190]:
# CARREGANDO AS VENDAS DO MES ANTERIOR
print(FILE_VENDAS)
vendas=pd.read_excel(FILE_VENDAS) # 
if any(vendas['Loja']=="Total"): # Eliminando a linha com vendas totais
    vendas=vendas[vendas['Loja']!='Total']

# CHECAGEM
vendas

C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/RECEITA_LOJA_MENSAL.xlsx

c:\Users\C1075636\Miniconda3\envs\tina\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Loja,Unnamed: 1,Unnamed: 2,Sigla,Venda Bruta (Receita Caixa)
0,1,TN-ANHANGUERA,ANH,ANH,3290470.81
1,3,TN-MARGINAL,MGN,MGN,19755502.86
2,8,TN-PRAIA GRANDE,PGD,PGD,2457010.48
3,9,TN-SANTO ANDRÉ 1,SA1,SA1,2883713.64
4,12,TN-JUNDIAÍ,JDI,JDI,5629601.58
5,19,TN-IMIGRANTES,IMI,IMI,7651333.72
6,21,CANAL EMPRESAS,CEM,CEM,2115511.47
7,22,TN-TABOÃO,TAB,TAB,1935086.80
8,23,PRO-MARGINAL,PMG,PMG,2839836.89
9,24,TN-ARICANDUVA,ARI,ARI,8077677.11
10,25,TN-ZONA NORTE,ZNO,ZNO,6025262.19
11,26,TN-SÃO JOSÉ,SJC,SJC,4647668.70
12,27,TN-OSASCO,OSA,OSA,1615072.13
13,28,TN-SOROCABA,SOR,SOR,3281824.60
14,29,PRO-ARICANDUVA,PAR,PAR,1728748.41
15,30,TN-MORUMBI,MOR,MOR,10236851.21
16,31,TN-BELVEDERE,BEL,BEL,1797914.63
17,32,TN-GUARULHOS,GRU,GRU,3067211.96
18,34,TN-PAMPULHA,PAM,PAM,2205361.70
19,36,TN-CONTAGEM,CTG,CTG,1830317.73
20,37,TN-PIRACICABA,PIR,PIR,2140641.81
21,38,TN-D.PEDRO,DPE,DPE,1804328.79
22,39,TN-UBERLÂNDIA,UBE,UBE,1500313.55
23,40,TN-TAMBORÉ,TAM,TAM,3889825.30
24,43,TN-TATUAPÉ,TAT,TAT,3116576.28
25,48,TN-BRAGANÇA PAULISTA,BRG,BRG,1595695.62
26,51,TN-TIRADENTES,TIR,TIR,2902479.81
27,52,TN-CATUAÍ,CAT,CAT,1338749.13
28,54,TN-MARINGÁ,MGA,MGA,1621650.37
29,55,TN-PRESIDENTE PRUDENTE,PRU,PRU,2152571.37
30,56,TN-CAMPO LIMPO,CLI,CLI,2696604.22
31,57,TN-ARICANDUVA RIO DAS PEDRAS,ARP,ARP,2089312.16
32,58,CD-GUARULHOS,CDG,CDG,251961.87
33,60,CONCEITO BRASIL,CBR,CBR,1243127.82
34,62,E-COMMERCE,ECO,ECO,5876344.10
35,64,TN-SANTOS,SAN,SAN,3858814.93
36,66,TN-RAPOSO TAVARES,RAP,RAP,1949031.72
37,70,TN-WASHINGTON LUIS,WHL,WHL,1286499.53
38,71,TN-RODA VIVA,RDV,RDV,3447183.35
39,72,TN-SÃO CARLOS,SCA,SCA,1792661.11
40,73,TN-TAUBATE,TBT,TBT,1792231.17
41,74,TN-RIBEIRAO PRETO 2,RPT,RPT,1946969.77
42,75,TN_AMAZONAS,AMZ,AMZ,1070910.30
43,76,OJ-AMOREIRAS,AMO,AMO,2015594.72
44,77,TN-SUMAREZINHO,SMZ,SMZ,267080.07
45,78,TN-MOEMA,MOE,MOE,343989.02
46,81,TN-ACLIMACAO,ACL,ACL,159095.28
47,82,TN-PINHEIROS,PIN,PIN,198216.78
48,83,TN-LAPA,LPA,LPA,104914.31
49,84,TN-TUIUTI,TUI,TUI,230155.91
50,85,TN-MOOCA,MOO,MOO,92334.05
51,86,TN-LEOPOLDINA,LEO,LEO,165912.77
52,87,CENTRAL DE VENDAS,CDV,CDV,302555.75
53,88,TN-INDAIATUBA,IND,IND,383089.44

In [191]:
# CARREGANDO NPS DAS LOJAS
print('Carregando NPS das lojas')
print(FILE_NPS)
nps_lojas=pd.read_csv(FILE_NPS,sep=';')

Carregando NPS das lojas
C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/Ranking NPS.csv

In [192]:
# CHECAGEM
nps_lojas

,id,externalId,type,title,group,nps,samplingError,promoters,neutrals,detractors,promoter %,neutral %,detractor %,transactions,surveys,ratings,responseRate
0,10135,85,store,TN-MOOCA,NaN,"100,0%","100,0%",7,0,0,"100,0%","0,0%","0,0%",143.000,86.000,7,"8,1%"
1,10134,84,store,TN-TUIUTI,NaN,"100,0%","100,0%",8,0,0,"100,0%","0,0%","0,0%",199.000,125.000,8,"6,4%"
2,10133,83,store,TN-LAPA,NaN,"100,0%","100,0%",6,0,0,"100,0%","0,0%","0,0%",119.000,84.000,6,"7,1%"
3,10070,82,store,TN-PINHEIROS,NaN,"100,0%","100,0%",5,0,0,"100,0%","0,0%","0,0%",229.000,148.000,5,"3,4%"
4,10009,21,store,CANAL EMPRESAS,NaN,"100,0%","100,0%",1,0,0,"100,0%","0,0%","0,0%",8.000,7.000,1,"14,3%"
5,10008,60,store,CONCEITO BRASIL,NaN,"100,0%","100,0%",9,0,0,"100,0%","0,0%","0,0%",260.000,123.000,9,"7,3%"
6,10071,78,store,TN-MOEMA,NaN,"95,0%","9,7%",39,0,1,"97,5%","0,0%","2,5%",415.000,240.000,40,"16,7%"
7,10040,39,store,TN-UBERLÂNDIA,NaN,"87,0%","100,0%",20,3,0,"87,0%","13,0%","0,0%",1.112,461.000,23,"5,0%"
8,10148,88,store,TN-INDAIATUBA,NaN,"86,7%","100,0%",14,0,1,"93,3%","0,0%","6,7%",310.000,169.000,15,"8,9%"
9,10069,81,store,TN-ACLIMACAO,NaN,"86,7%","100,0%",14,0,1,"93,3%","0,0%","6,7%",249.000,157.000,15,"9,6%"
10,10012,38,store,TN-D.PEDRO,NaN,"83,1%","12,6%",52,4,3,"88,1%","6,8%","5,1%",1.579,730.000,59,"8,1%"
11,10032,72,store,TN-SÃO CARLOS,NaN,"81,8%","17,7%",29,2,2,"87,9%","6,1%","6,1%",1.670,839.000,33,"3,9%"
12,10136,86,store,TN-LEOPOLDINA,NaN,"80,0%","100,0%",12,3,0,"80,0%","20,0%","0,0%",161.000,110.000,15,"13,6%"
13,10036,40,store,TN-TAMBORÉ,NaN,"80,0%","11,2%",68,8,4,"85,0%","10,0%","5,0%",2.257,1.058,80,"7,6%"
14,10026,55,store,TN-PRESIDENTE PRUDENTE,NaN,"78,7%","12,9%",51,7,3,"83,6%","11,5%","4,9%",1.782,833.000,61,"7,3%"
15,10031,64,store,TN-SANTOS,NaN,"78,0%","10,0%",91,12,6,"83,5%","11,0%","5,5%",3.389,1.261,109,"8,6%"
16,10029,74,store,TN-RIBEIRAO PRETO 2,NaN,"76,9%","16,6%",32,5,2,"82,1%","12,8%","5,1%",1.369,613.000,39,"6,4%"
17,10038,73,store,TN-TAUBATE,NaN,"74,5%","16,1%",38,6,3,"80,9%","12,8%","6,4%",1.520,687.000,47,"6,8%"
18,10005,31,store,TN-BELVEDERE,NaN,"72,5%","19,6%",33,3,4,"82,5%","7,5%","10,0%",1.075,420.000,40,"9,5%"
19,10018,54,store,TN-MARINGÁ,NaN,"72,2%","19,8%",29,4,3,"80,6%","11,1%","8,3%",1.914,791.000,36,"4,6%"
20,10011,36,store,TN-CONTAGEM,NaN,"72,1%","19,7%",36,2,5,"83,7%","4,7%","11,6%",1.162,518.000,43,"8,3%"
21,10027,66,store,TN-RAPOSO TAVARES,NaN,"71,1%","20,5%",31,3,4,"81,6%","7,9%","10,5%",1.916,850.000,38,"4,5%"
22,10024,37,store,TN-PIRACICABA,NaN,"71,1%","18,1%",36,5,4,"80,0%","11,1%","8,9%",2.203,787.000,45,"5,7%"
23,10035,22,store,TN-TABOÃO,NaN,"70,6%","18,3%",42,3,6,"82,4%","5,9%","11,8%",2.002,873.000,51,"5,8%"
24,10020,27,store,TN-OSASCO,NaN,"70,6%","20,8%",27,4,3,"79,4%","11,8%","8,8%",1.641,646.000,34,"5,3%"
25,10039,51,store,TN-TIRADENTES,NaN,"69,8%","17,8%",43,4,6,"81,1%","7,6%","11,3%",1.835,854.000,53,"6,2%"
26,10002,1,store,TN-ANHANGUERA,NaN,"69,7%","13,9%",50,12,4,"75,8%","18,2%","6,1%",3.103,1.344,66,"4,9%"
27,10004,57,store,TN-ARICANDUVA RIO DAS PEDRAS,NaN,"69,4%","18,9%",40,3,6,"81,6%","6,1%","12,2%",2.505,835.000,49,"5,9%"
28,10034,28,store,TN-SOROCABA,NaN,"69,2%","19,0%",30,6,3,"76,9%","15,4%","7,7%",2.853,955.000,39,"4,1%"
29,10017,12,store,TN-JUNDIAÍ,NaN,"68,6%","11,9%",81,15,9,"77,1%","14,3%","8,6%",4.555,1.546,105,"6,8%"
30,10046,26,store,TN-SAO JOSE,NaN,"67,7%","16,0%",51,7,7,"78,5%","10,8%","10,8%",3.747,1.291,65,"5,0%"
31,10028,71,store,TN-RODA VIVA,NaN,"67,6%","14,9%",52,10,6,"76,5%","14,7%","8,8%",2.856,1.276,68,"5,3%"
32,10006,48,store,TN-BRAGANÇA PAULISTA,NaN,"67,4%","19,0%",33,6,4,"76,7%","14,0%","9,3%",1.359,644.000,43,"6,7%"
33,10037,43,store,TN-TATUAPÉ,NaN,"66,7%","15,9%",54,7,8,"78,3%","10,1%","11,6%",2.712,1.049,69,"6,6%"
34,10016,19,store,TN-IMIGRANTES,NaN,"64,6%","8,9%",159,31,22,"75,0%","14,6%","10,4%",6.932,2.486,212,"8,5%"
35,10007,52,store,TN-CATUAÍ,NaN,"63,6%","20,0%",33,6,5,"75,0%","13,6%","11,4%",1.455,648.000,44,"6,8%"
36,10042,25,store,TN-ZONA NORTE,NaN,"63,3%","11,7%",106,15,18,"76,3%","10,8%","13,0%",4.407,1.864,139,"7,5%"
37,10021,34,store,TN-PAMPULHA,NaN,"62,5%","20,5%",37,4,7,"77,1%","8,3%","14,6%",1.880,673.000,48,"7,1%"
38,10001,75,store,TN_AMAZONAS,NaN,"61,3%","24,8%",23,4,4,"74,2%","12,9%","12,9%",1.296,514.000,31,"6,0%"
39,10014,30,store,TN-MORUMBI,NaN,"61,0%","11,0%",118,20,21,"74,2%","12,6%","13,2%",5.930,2.351,159,"6,8%"
40,10030,9,store,TN-SANTO ANDRÉ 1,NaN,"58,8%","16,1%",59,9,12,"73,8%","11,3%","15,0%",3.203,1.199,80,"6,7%"
41,10068,77,store,TN-SUMAREZINHO,NaN,"58,6%","24,4%",20,6,3,"69,0%","20,7%","10,3%",396.000,272.000,29,"10,7%"
42,10022,29,store,PRO ARICANDUVA,NaN,"58,5%","22,4%",30,5,6,"73,2%","12,2%","14,6%",2.127,650.000,41,"6,3%"
43,10015,32,store,TN-GUARULHOS,NaN,"57,9%","23,8%",28,4,6,"73,7%","10,5%","15,8%",2.827,961.000,38,"4,0%"
44,10010,56,store,TN-CAMPO LIMPO,NaN,"57,4%","18,9%",38,9,7,"70,4%","16,7%","13,0%",4.074,1.289,54,"4,2%"
45,10013,62,store,E-COMMERCE,NaN,"57,0%","7,5%",285,39,64,"73,5%","10,1%","16,5%",11.682,8.023,388,"4,8%"
46,10023,8,store,TN-PRAIA GRANDE,NaN,"56,9%","17,6%",46,10,9,"70,8%","15,4%","13,8%",2.169,903.000,65,"7,2%"
47,10003,24,store,TN-ARICANDUVA,NaN,"55,7%","12,7%",84,22,16,"68,9%","18,0%","13,1%",6.614,2.484,122,"4,9%"
48,10019,3,store,TN-MARGINAL,NaN,"55,4%","7,7%",231,60,45,"68,8%","17,9%","13,4%",13.309,5.476,336,"6,1%"
49,10025,23,store,PRO MARGINAL,NaN,"53,1%","21,2%",34,7,8,"69,4%","14,3%","16,3%",3.200,994.000,49,"4,9%"
50,10041,70,store,TN-WASHINGTON LUIS,NaN,"48,9%","21,2%",30,10,7,"63,8%","21,3%","14,9%",1.623,700.000,47,"6,7%"
51,10147,87,store,CDV-CENTRAL DE VENDAS,NaN,"40,0%","100,0%",10,1,4,"66,7%","6,7%","26,7%",311.000,187.000,15,"8,0%"
52,10061,58,store,CD-GUARULHOS,NaN,"-50,0%","100,0%",1,0,3,"25,0%","0,0%","75,0%",302.000,105.000,4,"3,8%"

In [193]:
# transformando vendas de caracteres para número
vendas = vendas[['Loja', 'Venda Bruta (Receita Caixa)']].rename(
        columns={'Loja':'cod_loja','Venda Bruta (Receita Caixa)':'Venda_Total'})

In [194]:
vendas['cod_loja']=vendas['cod_loja'].astype(float).astype(int)

In [195]:
# ORGANIZANDO VENDAS POR LOJA
loja_nps_venda_alvo=pd.merge(
    lojas_tina[['cod_loja', 'sigla_loja']],
    vendas, 
    how='left',on='cod_loja'
    )

In [196]:
# JUNTANDO NPS ÀS VENDAS
loja_nps_venda_alvo=pd.merge(
    loja_nps_venda_alvo,
    nps_lojas[['externalId','nps']].rename(
        columns={'externalId':'cod_loja'}
        ),how='left',on='cod_loja'
    )

In [197]:
# JUNTANDO OS ALVOS COLETIVOS ÀS VENDAS E NPS
loja_nps_venda_alvo=pd.merge(
    loja_nps_venda_alvo,
    alvos[['id_fil', 'id_mes', 'target_sales_store_1',
       'target_sales_store_2']].rename(
        columns={'id_fil':'cod_loja'}
        ),how='left',on='cod_loja'
    )

In [198]:
# FUNÇÃO PARA VERIFICAR SE ATINTIU ALVO1 OU ALVO2 OU NENHUM
def alvo_alcancado(venda, alvo1, alvo2):
    if venda >= alvo2:
        alvo='ALVO2'
    elif venda >= alvo1:
        alvo='ALVO1'
    else: alvo = 'NAO'
    return alvo

In [199]:
# VERIFICANDO SE A LOJA BATEU ALVO1, ALVO2 OU NÃO BATEU O ALVO
loja_nps_venda_alvo['alvo']=loja_nps_venda_alvo.apply(
    lambda x: alvo_alcancado(
        x['Venda_Total'], x['target_sales_store_1'], x['target_sales_store_2']
        ), axis=1).copy()

In [200]:
# TRANSFORMANDO OS CARACTERES CARACTERES DA NPS EM NÚMEROS 
# REMOVENDO % DE nps e trocando a vírgula por ponto e obter número com decimal
loja_nps_venda_alvo['nps']=loja_nps_venda_alvo['nps'].str.replace("%","")
loja_nps_venda_alvo['nps']=loja_nps_venda_alvo['nps'].str.replace(",",".").astype(float)

In [201]:
# FUNÇÃO PARA VERFICAR SE A LOJA BATEU A META DE NPS
def nps_alcancado(nps):
    global NPS_ALVO
    if nps >=NPS_ALVO:
        nps_loja='SIM'
    else: nps_loja = 'NAO'
    return nps_loja

In [202]:
# Verificando se a loja alcançou a NPS estabelecida
loja_nps_venda_alvo['NPS_alcancado']=loja_nps_venda_alvo['nps'].apply(
    lambda x: nps_alcancado(x)).copy()

In [203]:
# CHECAGEM
loja_nps_venda_alvo.to_excel(FILE_CHECAGEM_LOJAS, index=False)

In [204]:
loja_nps_venda_alvo[
    (loja_nps_venda_alvo['alvo'] != 'NAO')
]

,cod_loja,sigla_loja,Venda_Total,nps,id_mes,target_sales_store_1,target_sales_store_2,alvo,NPS_alcancado
3,43,TAT,3116576.28,66.7,202204.0,3021009.0,3188370.0,ALVO1,SIM
5,12,JDI,5629601.58,68.6,202204.0,5201755.0,5417401.0,ALVO2,SIM
18,3,MGN,19755502.86,55.4,202204.0,19556614.0,20365671.0,ALVO1,NAO
31,48,BRG,1595695.62,67.4,202204.0,1507592.0,1625143.0,ALVO1,SIM
38,72,SCA,1792661.11,81.8,202204.0,1753628.0,1873650.0,ALVO1,SIM

In [205]:
# Obtendo somente as lojas elegíveis à premiação coletiva da Tina 
print('LOJAS ELEGÍVEIS À PREMIAÇÃO COLETIVA:')
lojas_elegiveis = loja_nps_venda_alvo[
    (loja_nps_venda_alvo['alvo'] != 'NAO') & 
    (loja_nps_venda_alvo['NPS_alcancado'] == 'SIM')
    ].copy(deep=True)
lojas_elegiveis

LOJAS ELEGÍVEIS À PREMIAÇÃO COLETIVA:

,cod_loja,sigla_loja,Venda_Total,nps,id_mes,target_sales_store_1,target_sales_store_2,alvo,NPS_alcancado
3,43,TAT,3116576.28,66.7,202204.0,3021009.0,3188370.0,ALVO1,SIM
5,12,JDI,5629601.58,68.6,202204.0,5201755.0,5417401.0,ALVO2,SIM
31,48,BRG,1595695.62,67.4,202204.0,1507592.0,1625143.0,ALVO1,SIM
38,72,SCA,1792661.11,81.8,202204.0,1753628.0,1873650.0,ALVO1,SIM

In [206]:
# Lendo faltas injustificadas dos colaboradores
print("Lendo faltas injustificadas do arquivo:")
print(F_FALTAS_MES_ANTERIOR+' tem ocorrências do dia 01 até 15 do mês anterior.')
print(F_FALTAS+' tem ocorrências do dia 16 do mês anterior até 15 do mês atual.')
faltas_inj = pd.read_excel(F_FALTAS, header=0) # Tem ocorrências do dia 16 do mes anterior até 15 do mes atual. Vou pegar somente do 16 ao final do mês anterior.
faltas_mes_anterior=pd.read_excel(F_FALTAS_MES_ANTERIOR, header=0) # para pegar as ocorrências do dia 01 até o dia 15 do mês anterior

Lendo faltas injustificadas do arquivo:
C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/PREMIACOES TINA.xlsx tem ocorrências do dia 01 até 15 do mês anterior.
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/PREMIACOES TINA.xlsx tem ocorrências do dia 16 do mês anterior até 15 do mês atual.

In [207]:
# Juntando as bases do mês passado e delimitando para o período de apuração
todas_faltas=pd.concat([faltas_mes_anterior, faltas_inj], axis=0)
faltas = todas_faltas[(todas_faltas['DATA DA OCORRÊNCIA'] >= DATA_I) &
           (todas_faltas['DATA DA OCORRÊNCIA'] <= DATA_F)].copy()
faltas['DATA DA OCORRÊNCIA'].sort_values()

237   2022-04-01
77    2022-04-01
93    2022-04-01
184   2022-04-01
153   2022-04-01
         ...
198   2022-04-14
288   2022-04-14
288   2022-04-14
49    2022-04-14
118   2022-04-14
Name: DATA DA OCORRÊNCIA, Length: 310, dtype: datetime64[ns]

In [208]:
# Renomeando a coluna da MATRICULA nas faltas 
faltas.rename(columns={'MATR EMPR':'MATRICULA'}, inplace=True)

In [209]:
# CHECAGEM
# Somente para verificar se o colaborador teve falta na período
faltas[faltas['MATRICULA']==28017]

Empty DataFrame
Columns: [PERIODO - DTINI, PERIODO - DTFIM, EMPRESA, DATA DA OCORRÊNCIA, COD ESTAB, NOME ESTAB, COD CR, NOME CR, CÓDIGO DO CENTRO CUSTO CONTABILIDADE, MATR CHEFIA, NOME CHEFIA, MATRICULA, NOME EMPPR, FUNCAO-DENOMINACAO, COD VERBA, DESCRICAO VERBA, VALOR]
Index: []

In [210]:
# Lendo base de ativos
print("Lendo base de ativos no arquivo:")
print(F_ATIVOS)
#base_ativos = pd.read_excel(F_ATIVOS, header=0) # 
base_ativos = pd.read_excel(F_ATIVOS) #

Lendo base de ativos no arquivo:
C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/wr2b-111909177.xlsx

In [211]:
# Removendo espaços em branco do nome da coluna 
base_ativos.columns = base_ativos.columns.str.strip()
print(base_ativos.columns)

Index(['Estabelecimento - Código', 'Matrícula', 'Nome - Primeiro Nome',
       'Nome - Sobrenome', 'Cargo - Código', 'Cargo - Nome',
       'Data de Nascimento', 'Data da Admissão',
       'Situação do Empregado - Status', 'Escala - Código', 'Escala - Nome',
       'Estabelecimento - Nome', 'Vínculo Empregatício - Código',
       'Vínculo Empregatício - Nome', 'Chefia Imediata - Matrícula',
       'Centro de Resultado - Código', 'Centro de Resultado - Nome'],
      dtype='object')

In [212]:
base_ativos['Estabelecimento - Nome']=base_ativos['Estabelecimento - Nome'].apply(
    lambda x: x.strip()[-3:]
)

In [213]:
base_ativos

,Estabelecimento - Código,Matrícula,Nome - Primeiro Nome,Nome - Sobrenome,Cargo - Código,Cargo - Nome,Data de Nascimento,Data da Admissão,Situação do Empregado - Status,Escala - Código,Escala - Nome,Estabelecimento - Nome,Vínculo Empregatício - Código,Vínculo Empregatício - Nome,Chefia Imediata - Matrícula,Centro de Resultado - Código,Centro de Resultado - Nome
0,20,27,NILTON,DOS SANTOS,100,Enc Depósito,23/02/1966,01/06/1991,ATIVO ...,1230,0840/1700,ARI,1,Trabalhador CLT,24816,244406,ARI - DEPOSITO LOJA
1,24,84,ALEXANDRE,POLONI,498,Ger Geral I,30/04/1977,11/03/1993,ATIVO ...,1049,Escala Artigo 62 II da CL,PAR,1,Trabalhador CLT,24757,304401,PAR - GERENCIA E SUPERVISAO
2,10,93,ELI,SILVA,164,Vendedor(a) Televendas,28/10/1967,03/05/1993,ATIVO ...,200,8/18 SEG/QUI (SEX 8/17),MGN,7,Comissionados,23904,175403,ENG - VENDAS
3,10,111,ELIANE,RIBEIRO,336,Anl Contábil Pl,23/08/1970,01/12/1993,ATIVO ...,200,8/18 SEG/QUI (SEX 8/17),MGN,1,Trabalhador CLT,27580,101104,DAF - CONTABILIDADE GERAL
4,10,131,WALTER,FONTES,165,Vendedor(a),13/06/1959,04/04/1994,Férias ...,1249,0600/1420,MGN,7,Comissionados,27460,174403,MGN - VENDAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3056,10,29860,LEONEL,FREEMAM JUNIOR,9335,ASSESSOR DE LOJA,18/04/1974,02/05/2022,ATIVO ...,106,8/1620 (SAB 10/1820),MGN,1,Trabalhador CLT,11543,174402,MGN - OPERACOES LOJA
3057,3,29868,VICENTE,DA SILVA,585,Oficial Manutenção Eletricista,09/12/1968,02/05/2022,ATIVO ...,10,750/1610(SEG/DOM),JDI,1,Trabalhador CLT,27511,114402,JDI - OPERACOES LOJA
3058,19,29866,REGINALDO,RIBEIRO JUNIOR,455,Ass Prevenção de Perdas,17/10/1974,02/05/2022,ATIVO ...,118,14/2220(SEG/SAB),ZNO,1,Trabalhador CLT,9472,254404,ZNO - PREVENCAO DE PERDAS
3059,67,29869,GABRIELLA,DE MORAES,9335,ASSESSOR DE LOJA,27/04/1999,02/05/2022,ATIVO ...,82,1340/22(SEG/DOM),AMO,1,Trabalhador CLT,13255,644403,AMO - VENDAS
3060,19,29871,ORLANDO,PEREIRA,499,Ger Geral II,13/11/1971,03/05/2022,ATIVO ...,3,13:30 as 21:50 Segunda a,ZNO,1,Trabalhador CLT,16765,254401,ZNO - GERENCIA E SUPERVISAO

In [214]:
# Pegando da base de ativos somente parâmetros/colunas necessários 
ativos=base_ativos[[
    'Matrícula', 
    'Nome - Primeiro Nome',
    'Nome - Sobrenome', 
    'Cargo - Nome',
    'Data da Admissão',
    'Situação do Empregado - Status',
    'Estabelecimento - Nome',
    'Centro de Resultado - Código'
    ]].copy(deep=True)

In [215]:
ativos

,Matrícula,Nome - Primeiro Nome,Nome - Sobrenome,Cargo - Nome,Data da Admissão,Situação do Empregado - Status,Estabelecimento - Nome,Centro de Resultado - Código
0,27,NILTON,DOS SANTOS,Enc Depósito,01/06/1991,ATIVO ...,ARI,244406
1,84,ALEXANDRE,POLONI,Ger Geral I,11/03/1993,ATIVO ...,PAR,304401
2,93,ELI,SILVA,Vendedor(a) Televendas,03/05/1993,ATIVO ...,MGN,175403
3,111,ELIANE,RIBEIRO,Anl Contábil Pl,01/12/1993,ATIVO ...,MGN,101104
4,131,WALTER,FONTES,Vendedor(a),04/04/1994,Férias ...,MGN,174403
...,...,...,...,...,...,...,...,...
3056,29860,LEONEL,FREEMAM JUNIOR,ASSESSOR DE LOJA,02/05/2022,ATIVO ...,MGN,174402
3057,29868,VICENTE,DA SILVA,Oficial Manutenção Eletricista,02/05/2022,ATIVO ...,JDI,114402
3058,29866,REGINALDO,RIBEIRO JUNIOR,Ass Prevenção de Perdas,02/05/2022,ATIVO ...,ZNO,254404
3059,29869,GABRIELLA,DE MORAES,ASSESSOR DE LOJA,02/05/2022,ATIVO ...,AMO,644403
3060,29871,ORLANDO,PEREIRA,Ger Geral II,03/05/2022,ATIVO ...,ZNO,254401

In [216]:
# RENOMEANDO OS PARÂMETROS/COLUNAS DA BASE DE ativos DA esquerda para direita {'ESQUERDA':'DIREITA'}
RENOMEA={
    'Matrícula':'MATRICULA', 
    'Nome - Primeiro Nome':'NOME',
    'Nome - Sobrenome':'SOBRENOME', 
    'Cargo - Nome':'CARGO',
    'Data da Admissão':'DATA_ADMISSAO',
    'Situação do Empregado - Status':'STATUS',
    'Estabelecimento - Nome':'LOJA'
}

ativos.rename(columns=RENOMEA, inplace=True)

In [217]:
ativos['DATA_ADMISSAO']=pd.to_datetime(ativos['DATA_ADMISSAO'])

In [218]:
ativos['DATA_ADMISSAO']

0      1991-01-06
1      1993-11-03
2      1993-03-05
3      1993-01-12
4      1994-04-04
          ...
3056   2022-02-05
3057   2022-02-05
3058   2022-02-05
3059   2022-02-05
3060   2022-03-05
Name: DATA_ADMISSAO, Length: 3061, dtype: datetime64[ns]

In [219]:
loja_nps_venda_alvo.columns

Index(['cod_loja', 'sigla_loja', 'Venda_Total', 'nps', 'id_mes',
       'target_sales_store_1', 'target_sales_store_2', 'alvo',
       'NPS_alcancado'],
      dtype='object')

In [220]:
lojas_tina['sigla_loja'][lojas_tina['id_unn']==ID_UNN]

0     IMI
1     ZNO
2     SOR
3     TAT
4     PGD
5     JDI
6     OSA
7     BEL
8     DPE
9     TAM
10    MGA
11    ARP
12    WHL
13    RDV
14    TBT
15    RPT
16    AMZ
17    ANH
18    MGN
19    SA1
20    TAB
21    PMG
22    ARI
23    SJC
24    PAR
25    MOR
26    GRU
27    PAM
28    CTG
29    PIR
30    UBE
31    BRG
32    TIR
33    CAT
34    PRU
35    CLI
36    SAN
37    RAP
38    SCA
Name: sigla_loja, dtype: object

In [221]:
ativos.columns

Index(['MATRICULA', 'NOME', 'SOBRENOME', 'CARGO', 'DATA_ADMISSAO', 'STATUS',
       'LOJA', 'Centro de Resultado - Código'],
      dtype='object')

In [222]:
# CRIANDO BASE tina A PARTIR DA BASE DE ATIVOS MAIS RECENTE 
# 
tina=ativos[ativos['LOJA'].isin(lojas_tina['sigla_loja'][lojas_tina['id_unn']==ID_UNN])].copy(deep=True)

In [223]:
tina['LOJA'].unique()

array(['ARI', 'PAR', 'MGN', 'GRU', 'PGD', 'TAB', 'SA1', 'ANH', 'SAN',
       'MOR', 'JDI', 'OSA', 'ZNO', 'ARP', 'PMG', 'BRG', 'RDV', 'RAP',
       'TAM', 'SJC', 'TBT', 'SOR', 'IMI', 'BEL', 'CLI', 'WHL', 'TIR',
       'MGA', 'PAM', 'PRU', 'CTG', 'CAT', 'PIR', 'DPE', 'UBE', 'TAT',
       'RPT', 'AMZ', 'SCA'], dtype=object)

In [224]:
#  Função para calcular os dias ADMITIDOS dentro do período apurado
def admitidos_no_mes(data_admissao):
    global DATA_I, DATA_F
    if data_admissao <= DATA_I :
        dias_admitidos=DATA_F.day
    else:
        dias_admitidos=(DATA_F-data_admissao).days+1
    return dias_admitidos

In [225]:
(DATA_F-tina['DATA_ADMISSAO'].iloc[0]).days

11437

In [226]:
# CALCULANDO QUANTOS DIAS O FUNCIONÁRIO ESTÁ ADMITIDO NO MÊS DA APURAÇÃO
tina['DIAS_ADMITIDOS']=tina['DATA_ADMISSAO'].apply(
    lambda x: admitidos_no_mes(x)
    ).copy()

In [227]:
# INCLUINDO INFORMAÇÃO SE O COLABORADOR ESTÁ ADMITIDO HÁ MAIS DE 15 DIAS DO PERÍODO DE APURAÇÃO
tina['MAIS_DE15DIAS_ADMITIDOS']=np.where(tina['DIAS_ADMITIDOS']>=MEIO_MES,"SIM", "NAO")

In [228]:
# LIMBANDO ESPAÇOS EM BRANCO DO STATUS
tina['STATUS']=tina['STATUS'].apply(
    lambda x: x.strip()
    )

In [229]:
tina['STATUS'].unique()

array(['ATIVO', 'Férias', 'SUSPENSÃO', 'Suspensão', 'Auxilio', 'Licença',
       'Seguro', 'Atestado', 'Demissão'], dtype=object)

In [230]:
# Elimina espaços em branco dos CARGOs dos funcionários 
tina['CARGO']=tina['CARGO'].apply(
    lambda x: x.strip()
)
# CHECAGEM
tina['CARGO'].unique()

array(['Enc Depósito', 'Ger Geral I', 'Vendedor(a) Televendas',
       'Anl Contábil Pl', 'Vendedor(a)', 'Coord de Mercado lll',
       'Ger Operacional II', 'Ass Manut Serv Gerais', 'Ger Geral II',
       'Assessor de Operações I', 'Anl Financeiro Jr', 'Ass Fiscal Sr',
       'COMPRADOR ADM PL', 'Assessor de Operações II', 'Ass Financeiro',
       'Ass Recebimento', 'Enc de Caixa', 'Ass Departamento Pessoal',
       'Anl Financeiro Pl', 'Sup Operacional',
       'COORD TECNOLOGIA DA INFORMACAO', 'DIR REGIONAL DE OPERACOES',
       'Ger de Vendas I', 'ASSESSOR DE LOJA', 'Lider de Caixa',
       'Repositor(a)', 'Oficial Manutenção Eletricista', 'Conferente',
       'Ass Financeiro Sr', 'Enc Manutenção', 'Operador Empilhadeira',
       'Anl Funcional SAP PL', 'Gerente de Preços', 'Aux Manutenção',
       'Enc de Produto', 'Ass Recursos Humanos', 'Ger de Informática',
       'Sup de Vendas', 'Ass Serviços ao Cliente', 'Ger Regional I',
       'Ger Mercado II', 'Anl Infraestrut Pl', 'Anl Funcional SAP Sr',
       'Anl Abastecimento Pl', 'Coord de Mercado II',
       'Anl Mídias Sociais Jr', 'GERENTE COMERCIAL', 'GER REGIONAL',
       'Ass de Expedição', 'Sup de Produto', 'Ass Recebimento Fiscal',
       'Técnico Seguranca Trabalho Sr', 'Vendedor(a) Especialista',
       'Anl Gestão Compras Pl', 'Enc SAC', 'Operador(a) Caixa',
       'Ass Prevenção de Perdas', 'Anl Abastecimento Sr',
       'Ger Operacional I', 'GERENTE DE RELACIONAMENTO E PRODUTO',
       'Ger Geral III', 'Ger de Produto II', 'Coord de Serviços',
       'Coord de EHS', 'Gerente Adm Financeiro', 'Médico do Trabalho',
       'ANL RH REGIONAL PL', 'SUP DE RECURSOS HUMANOS',
       'ENC DE OPERACOES', 'Anl Fiscal Pl',
       'COORDENADOR PREVENCAO PERDAS', 'Anl Recebimento Fiscal Jr',
       'Ger de Vendas II', 'Anl Recursos Humanos Jr', 'Enc CTN',
       'Supervisor Financeiro', 'SUP CARTOES E SERV FINANCEIROS',
       'Ger Recursos Humanos', 'Sup de Televendas', 'Ass Administrativo',
       'Coord Fiscal', 'Anl Fiscal Jr', 'COORD CARTOES SERV FINANCEIROS',
       'Ger Regional II', 'Enc Prevenção de Perda', 'Anl de Importação',
       'Sup Administrativo', 'Ger de Infraestrutura',
       'GER CANAIS DIGITAIS', 'Vendedor(a) Especialista Lider',
       'Ger. Qualidade e EHS', 'COORD PREV E GESTAO DE FRAUDE',
       'Dir de Marketing', 'Anl Recursos Humanos Pl', 'Anl Contábil Sr',
       'Ger Desenvolv. Organizacional', 'Técnico de Edificações Sr',
       'Enc Serviços ao Cliente', 'Coord Adm de Compras',
       'Especialista de Preço', 'Ger de Prevencao de Perdas',
       'Ger Compras Adm', 'Anl Serv Merchandising Pl', 'GER GERAL SR',
       'COORD INTELIGENCIA MERCADO', 'Ger Plan e Gest de Categorias',
       'Anl Prevenção Perdas Pl', 'Coord Controle Interno',
       'ENC SEGURANCA PATRIMONIAL', 'GER REMUNERACAO E BENEFICIOS',
       'SECRETARIA DIRETORIA', 'Sup Caixa', 'Anl Gestão Compras Jr',
       'Ass Depósito', 'Dir Adm Financeiro', 'Ger Televendas',
       'Oficial Manutenção', 'Ger de Vendas III',
       'ASSIST RELACOES TRABALHISTAS', 'Coordenador de Merchandising',
       'Atendente de Loja', 'Dir. Expansão e Novos Negócios',
       'DIRETOR GERAL - DISTRIB BRASIL', 'Coord Comunicação Interna',
       'Diretor de Informatica', 'Ger Novos Negocios', 'COORD EXPANSAO',
       'Gerente Projetos Operações', 'Ger de Controladoria',
       'Gerente de Omnicanalidade', 'Vendedor(a) Projetista',
       'Anl Infraestrut Sr', 'Coord Financeiro(a)', 'Coord de Mercado I',
       'COORD DE PROCESSOS', 'Anl Financeiro Sr', 'ASS ADM TELEVENDAS',
       'Coord Recursos Humanos', 'COORDENADOR DE BI',
       'Coordenador Compras', 'DESIGNER PROJETISTA', 'Comprador',
       'Dir Recursos Humanos', 'ANALISTA DE BI SR', 'Ger de Produto I',
       'Esp DHO', 'Ass Compras e Cadastro', 'Analista de Preços',
       'COORD. MARKETING DE ATIVAÇÃO', 'Anl de Marketing Sr',
       'DIRETOR COMERCIAL', 'SECRETARIA', 'Técnico de Edificações',
       'Anl Relacionamento e Operações', 'Ass Fiscal Pl',
       'Anl Recursos Humanos Sr', 'Analista de Preço Pl',
       'Anl Infraestrut Jr', 'Anl de Logística Jr', 'Coord de Engenharia',
       'GERENTE LOGISTICA', 'Gerente Operacional',
       'ASSESSOR DE OPERACOES', 'COORDENADOR CONTABIL',
       'GER PROD E SERV FINANCEIROS', 'Coord de Treinamento',
       'Sup deProduto I', 'Ass Logistico Televenda', 'Supervisor Fiscal',
       'GER DESENV DE SISTEMAS', 'Coord de Marketing',
       'ESP DE SEGURANCA DE DADOS', 'Dir de Logística',
       'ANL MARKETING DE ATIVACAO JR', 'Técnico Projetista',
       'Anl Merchandising Sr', 'ESP DE CONTROLE E GESTAO',
       'ASS INFRAESTRUTURA', 'COORD COMUNICACAO', 'Ger Marketing',
       'Ass Compras', 'COORDENADOR DE PROJETOS', 'Coord  Abastecimento',
       'ORCAMENTISTA', 'Ass Cadastro Jr', 'Estagiário(a)',
       'Anl Merchandising Pl', 'Analista de Preço Jr',
       'Anl Abastecimento Jr', 'Técnico Seguranca Trabalho Pl', 'Trainee',
       'Dir Vendas e Operações', 'Coord Compras Administrativas',
       'Anl Controle de Gestão Pl', 'GERENTE REGIONAL',
       'Ger Contr de Gest Operacional', 'COMPRADOR ADM JR',
       'Anl Arquitetura de Sistemas Sr', 'Ger Abast e Planej Logístico',
       'Ass de Informática', 'VENDEDOR(A) TELEVENDAS', 'Vendedor Externo',
       'Ger de Expansão', 'Menor Aprendiz', 'SUP RECEBIMENTO FISCAL',
       'Anl Contábil Jr', 'Ass Serviço ao Cliente',
       'Consultor de Vendas Externas', 'Anl PP Int Antifraude Sr',
       'Coord Relac e Operações', 'Ass Contábil',
       'Tec Manut Instal de Sistemas', 'ANALISTA ADMINISTRATIVO',
       'Cientista de Dados Pl', 'Analista de Projetos Sr',
       'Analista de Novos Negócios Jr', 'ASSISTENTE DE ABASTECIMENTO',
       'Ass Financeiro Jr', 'Anl Merchandising Jr',
       'Anl Comunicação Interna Jr', 'Anl Serv Financeiro Sr'],
      dtype=object)

In [231]:
# INCLUINDO ELEGIBILIDADE DA LOJA
tina['LOJA_ELEGIVEL']=np.where(tina['LOJA'].isin(lojas_elegiveis['sigla_loja']),'SIM','NAO')

In [232]:
tina

,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,LOJA,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL
0,27,NILTON,DOS SANTOS,Enc Depósito,1991-01-06,ATIVO,ARI,244406,30,SIM,NAO
1,84,ALEXANDRE,POLONI,Ger Geral I,1993-11-03,ATIVO,PAR,304401,30,SIM,NAO
2,93,ELI,SILVA,Vendedor(a) Televendas,1993-03-05,ATIVO,MGN,175403,30,SIM,NAO
3,111,ELIANE,RIBEIRO,Anl Contábil Pl,1993-01-12,ATIVO,MGN,101104,30,SIM,NAO
4,131,WALTER,FONTES,Vendedor(a),1994-04-04,Férias,MGN,174403,30,SIM,NAO
...,...,...,...,...,...,...,...,...,...,...,...
3054,29863,DREYFUS,DE ANDRADE,Sup Operacional,2022-02-05,ATIVO,BEL,314401,30,SIM,NAO
3056,29860,LEONEL,FREEMAM JUNIOR,ASSESSOR DE LOJA,2022-02-05,ATIVO,MGN,174402,30,SIM,NAO
3057,29868,VICENTE,DA SILVA,Oficial Manutenção Eletricista,2022-02-05,ATIVO,JDI,114402,30,SIM,SIM
3058,29866,REGINALDO,RIBEIRO JUNIOR,Ass Prevenção de Perdas,2022-02-05,ATIVO,ZNO,254404,30,SIM,NAO
3060,29871,ORLANDO,PEREIRA,Ger Geral II,2022-03-05,ATIVO,ZNO,254401,30,SIM,NAO

JUNTANDO BASE DE AFASTADOS E DE RETORNOS DO MÊS DE APURAÇÃO

In [233]:
# BASE DE DATA DE RETORNO DOS COLABORADORES 
# 
# Lendo base de retorno
print("Lendo base de retorno no arquivo:")
print(F_RETORNO)
base_retorno = pd.read_excel(F_RETORNO) # afastados=

Lendo base de retorno no arquivo:
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/Empregados-Afastados-20220401-a-20220430.xlsx

In [234]:
# BASE DE AFASTADOS 
# 
# Lendo base de afastados
print("Lendo base de afastados no arquivo:")
print(F_AFASTADOS)
base_afastados = pd.read_excel(F_AFASTADOS) # afastados=

Lendo base de afastados no arquivo:
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/Empregados-Afastados-19000101-a-20220430.xlsx

In [235]:
base_afastados.columns

Index(['Empresa', 'Código do Estabelecimento', 'Descrição do Estabelecimento',
       'Matrícula', 'Nome', 'Função', 'Centro de Resultado',
       'Descrição de Centro de Resultado', 'Número de Dias',
       'Data de Admissão', 'Data de Afastamento', 'Data de Retorno',
       'Tipo de Afastamento', 'Motivo Interno do Afastamento',
       'Data Previsão Perícia INSS', 'Protocolo Agendamento Perícia',
       'Número Benefício'],
      dtype='object')

In [236]:
base_retorno.columns

Index(['Empresa', 'Código do Estabelecimento', 'Descrição do Estabelecimento',
       'Matrícula', 'Nome', 'Função', 'Centro de Resultado',
       'Descrição de Centro de Resultado', 'Número de Dias',
       'Data de Admissão', 'Data de Afastamento', 'Data de Retorno',
       'Tipo de Afastamento', 'Motivo Interno do Afastamento',
       'Data Previsão Perícia INSS', 'Protocolo Agendamento Perícia',
       'Número Benefício'],
      dtype='object')

In [237]:
base_retorno

,Empresa,Código do Estabelecimento,Descrição do Estabelecimento,Matrícula,Nome,Função,Centro de Resultado,Descrição de Centro de Resultado,Número de Dias,Data de Admissão,Data de Afastamento,Data de Retorno,Tipo de Afastamento,Motivo Interno do Afastamento,Data Previsão Perícia INSS,Protocolo Agendamento Perícia,Número Benefício
0,1,57,Saint-Gobain Distribuição Brasil Ltda - SAN,27539,ABDIAS DA SILVA PEREIRA JUNIOR,ASSESSOR DE LOJA,574402,SAN - Operações Loja,87,11/11/2019,09/12/2021,06/03/2022,BE - Auxilio Doença,NaN,NaN,NaN,NaN
1,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,14023,ADALGIZA CRISTINA DE LIMA,Lider de Caixa,174402,MGN - OPERACOES LOJA,3,01/12/2009,18/03/2022,21/03/2022,AT - Atestado Médico,NaN,NaN,NaN,NaN
2,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,12858,ADAMS DE MORAES,ASSESSOR DE LOJA,244402,ARI - OPERACOES LOJA,30,15/01/2009,01/03/2022,31/03/2022,FE - Férias,NaN,NaN,NaN,NaN
3,1,22,Saint-Gobain Distribuição Brasil Ltda - OSA,4901,ADEMILSON MODOLO DE OLIVEIRA,Ger Geral I,274401,OSA - GERENCIA E SUPERVISAO,20,03/09/2001,08/03/2022,28/03/2022,FE - Férias,NaN,NaN,NaN,NaN
4,1,63,Saint-Gobain Distribuicao Brasil Ltda - SCA,23674,ADMILSON CARDOSO JUNIOR,Sup Operacional,614401,SCA - Gerencia e Supervisão,20,11/11/2015,10/02/2022,02/03/2022,FE - Férias,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,4,10,TUMELERO MATERIAIS DE CONSTRUCAO LTDA - CD,7491,VINICIUS MAIA,OPERADOR DE EMPILHADEIRA II,546072,CD1 - TAPECARIA MOVEIS E ABERTURAS,3,01/09/2010,03/03/2022,06/03/2022,AT - Atestado Médico,NaN,NaN,NaN,NaN
642,4,44,TUMELERO MATERIAIS DE CONSTRUCAO LTDA - SMA,23902,VITOR DA ROSA PENADEZ DOS SANTOS,VENDEDOR JUNIOR,248402,SMA - VENDAS,5,01/02/2022,24/03/2022,29/03/2022,AT - Atestado Médico,NaN,NaN,NaN,NaN
643,4,15,TUMELERO MATERIAIS DE CONSTRUCAO LTDA - RGD,12277,WENDREO PIERRE SALAZAR SILVA,VENDEDOR JUNIOR,908402,RGD - VENDAS,30,02/09/2019,01/03/2022,31/03/2022,FE - Férias,NaN,NaN,NaN,NaN
644,4,59,TUMELERO MATERIAIS DE CONSTRUCAO LTDA - MED,11820,WILLIAM TEIXEIRA BARBOSA,VENDEDOR JUNIOR,338402,MED - VENDAS,30,01/02/2018,02/02/2022,04/03/2022,FE - Férias,NaN,NaN,NaN,NaN
645,4,1,TUMELERO MATERIAIS DE CONSTRUCAO LTDA - MTZ,1187,ZENAURO DOS SANTOS SILVEIRA,ANALISTA DE SUPORTE PLENO,100540,Tecnologia da Informação,20,01/12/1989,14/02/2022,06/03/2022,FE - Férias,NaN,NaN,NaN,NaN

In [238]:
# PARÂMETROS NECESSÁRIOS DOS AFASTADOS
PARAMETROS=[
    'Empresa', 
    'Descrição do Estabelecimento', 
    'Matrícula', 
    'Nome',
    'Função', 
    'Centro de Resultado',
    'Número de Dias', 
    'Data de Admissão', 
    'Data de Afastamento', 
    'Data de Retorno',
    'Tipo de Afastamento'
]

In [239]:
# JUNTANDO BASE DE AFASTADOS COM O DE RETORNO
#     Somente dos parâmetros necessários
afastados = pd.concat(
    [base_afastados[PARAMETROS].copy(deep=True), 
    base_retorno[PARAMETROS].copy(deep=True)], 
    ignore_index=True
    )

In [240]:
afastados['Data de Admissão']=pd.to_datetime(afastados['Data de Admissão'], format="%d/%m/%Y")
afastados['Data de Afastamento']=pd.to_datetime(afastados['Data de Afastamento'], format="%d/%m/%Y")
afastados['Data de Retorno']=pd.to_datetime(afastados['Data de Retorno'], format="%d/%m/%Y")

In [241]:
# Para renomear  os parâmetros da base de afastados
RENOMEA={
    'Empresa': 'EMPRESA',
    'Descrição do Estabelecimento': 'LOJA', 
    'Matrícula':'MATRICULA', 
    'Nome':'NOME',
    'Data de Admissão':'DATA_ADMISSAO', 
    'Data de Afastamento':'DATA_AFASTAMENTO', 
    'Data de Retorno':'DATA_RETORNO',   
    'Tipo de Afastamento':'MOTIVO'
    }

# Renomeando as colunas da base de afastados com nome da direita pelo da esquerda
afastados.rename(columns=RENOMEA, inplace=True)

In [242]:
# EXTRAINDO SIGLA DA LOJA
afastados['LOJA']=afastados['LOJA'].apply(
    lambda x: x.strip()[-3:]
)
afastados

,EMPRESA,LOJA,MATRICULA,NOME,Função,Centro de Resultado,Número de Dias,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,MOTIVO
0,1,SAN,27539,ABDIAS DA SILVA PEREIRA JUNIOR,ASSESSOR DE LOJA,574402,38,2019-11-11,2022-03-06,2022-04-13,SC - Suspensão Contrato de Trabalho
1,1,CLI,28545,ADELSON DOS SANTOS JUNIOR,Assessor de Operações I,524406,30,2020-12-07,2022-03-17,2022-04-16,FE - Férias
2,1,JDI,7792,ADONEL OSORIO DE SOUSA,Repositor(a),114406,2429,2004-11-12,2015-08-06,NaT,SC - Suspensão Contrato de Trabalho
3,1,IMI,28524,ADRIANA PEREIRA MILITAO,ASSESSOR DE LOJA,204402,10,2020-12-01,2022-03-29,2022-04-08,AT - Atestado Médico
4,1,RAP,23792,ADRIANA PUPIN,Vendedor(a),554403,30,2016-02-11,2022-03-18,2022-04-17,FE - Férias
...,...,...,...,...,...,...,...,...,...,...,...
1154,4,CD,7491,VINICIUS MAIA,OPERADOR DE EMPILHADEIRA II,546072,3,2010-09-01,2022-03-03,2022-03-06,AT - Atestado Médico
1155,4,SMA,23902,VITOR DA ROSA PENADEZ DOS SANTOS,VENDEDOR JUNIOR,248402,5,2022-02-01,2022-03-24,2022-03-29,AT - Atestado Médico
1156,4,RGD,12277,WENDREO PIERRE SALAZAR SILVA,VENDEDOR JUNIOR,908402,30,2019-09-02,2022-03-01,2022-03-31,FE - Férias
1157,4,MED,11820,WILLIAM TEIXEIRA BARBOSA,VENDEDOR JUNIOR,338402,30,2018-02-01,2022-02-02,2022-03-04,FE - Férias
1158,4,MTZ,1187,ZENAURO DOS SANTOS SILVEIRA,ANALISTA DE SUPORTE PLENO,100540,20,1989-12-01,2022-02-14,2022-03-06,FE - Férias

In [243]:
# AFASTADOS SOMENTE EMPRESA SELECIONADA ACIMA ID_UNN
afastados=afastados[afastados['EMPRESA']==ID_UNN]

In [244]:
# SOMENTE LOJAS TINA DA TELHANORTE
lojas_tina_telha=lojas_tina[['cod_loja', 'sigla_loja']][lojas_tina['id_unn']==1]

In [245]:
# AFASTADOS SOMENTE TINA
afastados=afastados[afastados['LOJA'].isin(lojas_tina_telha['sigla_loja'])].copy(deep=True)
afastados

,EMPRESA,LOJA,MATRICULA,NOME,Função,Centro de Resultado,Número de Dias,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,MOTIVO
0,1,SAN,27539,ABDIAS DA SILVA PEREIRA JUNIOR,ASSESSOR DE LOJA,574402,38,2019-11-11,2022-03-06,2022-04-13,SC - Suspensão Contrato de Trabalho
1,1,CLI,28545,ADELSON DOS SANTOS JUNIOR,Assessor de Operações I,524406,30,2020-12-07,2022-03-17,2022-04-16,FE - Férias
2,1,JDI,7792,ADONEL OSORIO DE SOUSA,Repositor(a),114406,2429,2004-11-12,2015-08-06,NaT,SC - Suspensão Contrato de Trabalho
3,1,IMI,28524,ADRIANA PEREIRA MILITAO,ASSESSOR DE LOJA,204402,10,2020-12-01,2022-03-29,2022-04-08,AT - Atestado Médico
4,1,RAP,23792,ADRIANA PUPIN,Vendedor(a),554403,30,2016-02-11,2022-03-18,2022-04-17,FE - Férias
...,...,...,...,...,...,...,...,...,...,...,...
997,1,MGN,27626,WILLIANNY DAYSE JESUS OLIVEIRA,ASSESSOR DE LOJA,174402,3,2019-12-02,2022-03-10,2022-03-13,AT - Atestado Médico
998,1,CLI,18114,WILSON LUIZ SOUZA TEIXEIRA,Enc Depósito,524406,30,2012-02-01,2022-02-17,2022-03-19,FE - Férias
999,1,MGN,27855,YASMIM DE BRITO FERREIRA,Ass Serviços ao Cliente,808568,7,2020-02-17,2022-03-22,2022-03-29,AT - Atestado Médico
1000,1,MGN,27855,YASMIM DE BRITO FERREIRA,Ass Serviços ao Cliente,808568,7,2020-02-17,2022-02-26,2022-03-05,AT - Atestado Médico
1001,1,TIR,28623,ZEMARIO SANTOS BONFIM,Assessor de Operações II,354406,30,2021-01-05,2022-01-31,2022-03-02,FE - Férias

In [246]:
afastados[afastados['MATRICULA']==6068]

,EMPRESA,LOJA,MATRICULA,NOME,Função,Centro de Resultado,Número de Dias,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,MOTIVO
228,1,PMG,6068,LINDOVAL MATIAS DA SILVA,Repositor(a),234402,968,2003-02-05,2019-08-06,NaT,SC - Suspensão Contrato de Trabalho

In [247]:
#  Função para calcular os dias de afastamento dentro do período apurado
def afastamento_do_mes(data_afastamento, data_retorno):
    global DATA_I, DATA_F
    if data_afastamento >= DATA_I and data_retorno <= DATA_F:
        dias_afastados=(data_retorno-data_afastamento).days
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento))  and data_retorno <= DATA_F:
        dias_afastados=(data_retorno-DATA_I).days
    elif data_afastamento >= DATA_I and (data_retorno > DATA_F or pd.isnull(data_retorno)):
        dias_afastados=(DATA_F-data_afastamento).days+1
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento)) and (data_retorno > DATA_F or pd.isnull(data_retorno)):
        dias_afastados=(DATA_F.day)
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento)) and (data_retorno < DATA_I):
        dias_afastados=(DATA_F.day-DATA_F.day)
    else:
        print("ERRO")
        dias_afastados=0

    return dias_afastados

In [248]:
# Contando os dias de afastamento para cada período de afastamento considerando o período de apuração
afastados['dias_afastados']=afastados.apply(
    lambda x: afastamento_do_mes(x['DATA_AFASTAMENTO'],x['DATA_RETORNO']), axis=1)

In [249]:
afastados

,EMPRESA,LOJA,MATRICULA,NOME,Função,Centro de Resultado,Número de Dias,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,MOTIVO,dias_afastados
0,1,SAN,27539,ABDIAS DA SILVA PEREIRA JUNIOR,ASSESSOR DE LOJA,574402,38,2019-11-11,2022-03-06,2022-04-13,SC - Suspensão Contrato de Trabalho,12
1,1,CLI,28545,ADELSON DOS SANTOS JUNIOR,Assessor de Operações I,524406,30,2020-12-07,2022-03-17,2022-04-16,FE - Férias,15
2,1,JDI,7792,ADONEL OSORIO DE SOUSA,Repositor(a),114406,2429,2004-11-12,2015-08-06,NaT,SC - Suspensão Contrato de Trabalho,30
3,1,IMI,28524,ADRIANA PEREIRA MILITAO,ASSESSOR DE LOJA,204402,10,2020-12-01,2022-03-29,2022-04-08,AT - Atestado Médico,7
4,1,RAP,23792,ADRIANA PUPIN,Vendedor(a),554403,30,2016-02-11,2022-03-18,2022-04-17,FE - Férias,16
...,...,...,...,...,...,...,...,...,...,...,...,...
997,1,MGN,27626,WILLIANNY DAYSE JESUS OLIVEIRA,ASSESSOR DE LOJA,174402,3,2019-12-02,2022-03-10,2022-03-13,AT - Atestado Médico,-19
998,1,CLI,18114,WILSON LUIZ SOUZA TEIXEIRA,Enc Depósito,524406,30,2012-02-01,2022-02-17,2022-03-19,FE - Férias,-13
999,1,MGN,27855,YASMIM DE BRITO FERREIRA,Ass Serviços ao Cliente,808568,7,2020-02-17,2022-03-22,2022-03-29,AT - Atestado Médico,-3
1000,1,MGN,27855,YASMIM DE BRITO FERREIRA,Ass Serviços ao Cliente,808568,7,2020-02-17,2022-02-26,2022-03-05,AT - Atestado Médico,-27
1001,1,TIR,28623,ZEMARIO SANTOS BONFIM,Assessor de Operações II,354406,30,2021-01-05,2022-01-31,2022-03-02,FE - Férias,-30

In [250]:
# CHECAGEM
# Verificando se há matrículas com mais de um afastamento no período apurado
afastados[afastados['MATRICULA']==6068]

,EMPRESA,LOJA,MATRICULA,NOME,Função,Centro de Resultado,Número de Dias,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,MOTIVO,dias_afastados
228,1,PMG,6068,LINDOVAL MATIAS DA SILVA,Repositor(a),234402,968,2003-02-05,2019-08-06,NaT,SC - Suspensão Contrato de Trabalho,30

In [251]:
# CHECAGEM
#  Para verificar o afastamento de uma matrícula específica
afastados[afastados['MATRICULA']==28143]

,EMPRESA,LOJA,MATRICULA,NOME,Função,Centro de Resultado,Número de Dias,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,MOTIVO,dias_afastados
68,1,MGN,28143,DAIANE DE SOUZA MIGUEL,ASSESSOR DE LOJA,174402,15,2020-09-01,2022-03-29,2022-04-13,AT - Atestado Médico,12
595,1,MGN,28143,DAIANE DE SOUZA MIGUEL,ASSESSOR DE LOJA,174402,7,2020-09-01,2022-03-21,2022-03-28,AT - Atestado Médico,-4
596,1,MGN,28143,DAIANE DE SOUZA MIGUEL,ASSESSOR DE LOJA,174402,7,2020-09-01,2022-03-14,2022-03-21,AT - Atestado Médico,-11

In [252]:
# SOMANDO OS DIAS AFASTADOS POR MATRÍCULA
dias_afastados_por_matricula=afastados.groupby(
    ['EMPRESA', 'LOJA','MATRICULA', 'NOME']
    )['dias_afastados'].sum().reset_index(name='dias_afastados_totais')

In [253]:
dias_afastados_por_matricula[dias_afastados_por_matricula['MATRICULA']==6068]

     EMPRESA LOJA  MATRICULA                      NOME  dias_afastados_totais
399        1  PMG       6068  LINDOVAL MATIAS DA SILVA                     30

In [254]:
# dias_afastados_por_matricula_telha=pd.merge(
#     dias_afastados_por_matricula[['LOJA', 'MATRICULA', 'dias_afastados_totais']
#         ][(dias_afastados_por_matricula['EMPRESA']==ID_UNN) &
#         (dias_afastados_por_matricula['LOJA'].isin(lojas_tina['cod_loja']))
#         ],
#     lojas_tina[['cod_loja', 'sigla_loja']][lojas_tina['id_unn']==ID_UNN].rename(columns={
#         'cod_loja':'COD_LOJA',
#         'sigla_loja':'LOJA'}),
#     how='left',
#     on='COD_LOJA'
#)

In [255]:
# pd.merge(
#     dias_afastados_por_matricula[['COD_LOJA', 'MATRICULA', 'dias_afastados_totais']
#         ][(dias_afastados_por_matricula['EMPRESA']==ID_UNN) &
#         (dias_afastados_por_matricula['COD_LOJA'].isin(lojas_tina['cod_loja']))
#         ],
#     lojas_tina[['cod_loja', 'sigla_loja']][lojas_tina['id_unn']==ID_UNN].rename(columns={
#         'cod_loja':'COD_LOJA',
#         'sigla_loja':'LOJA'}),
#     how='left',
#     on='COD_LOJA'
# )

In [256]:
tina[tina['MATRICULA']==6068]

,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,LOJA,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL
101,6068,LINDOVAL,DA SILVA,Repositor(a),2003-05-02,Suspensão,PMG,234402,30,SIM,NAO

In [257]:
# INCLUINDO DIAS AFASTADOS TOTAIS DA MATRÍCULA
tina_afastados=pd.merge(
    tina,
    dias_afastados_por_matricula[
        ['MATRICULA','dias_afastados_totais']
        ],
        how='left',
        on=['MATRICULA']
        )

In [258]:
# PREENCHENDO COM ZERO ATIVOS SEM AFASTAMENTOS
tina_afastados['dias_afastados_totais'].fillna(0, inplace=True)

In [259]:
tina_afastados[tina_afastados['MATRICULA']==25333]

,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,LOJA,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL,dias_afastados_totais
964,25333,ALDERICO,QUEIROZ,Repositor(a),2017-09-11,Auxilio,PMG,234406,30,SIM,NAO,30.0

In [260]:
# CALCULANDO DIAS ATIVOS NO PERÍODO DE APURAÇÃO CONSIDERANDO A DATA DE ADMISSÃO
tina_afastados['DIAS_ATIVOS']=tina_afastados['DIAS_ADMITIDOS']-tina_afastados['dias_afastados_totais']

In [261]:
tina_afastados[tina_afastados['MATRICULA']==6068]

,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,LOJA,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL,dias_afastados_totais,DIAS_ATIVOS
90,6068,LINDOVAL,DA SILVA,Repositor(a),2003-05-02,Suspensão,PMG,234402,30,SIM,NAO,30.0,0.0

In [262]:
tina_afastados['MAIS_DE15DIAS_ATIVOS']=np.where(
    tina_afastados['DIAS_ATIVOS']>=MEIO_MES, 'SIM','NAO'
    )

In [263]:
tina_afastados.columns

Index(['MATRICULA', 'NOME', 'SOBRENOME', 'CARGO', 'DATA_ADMISSAO', 'STATUS',
       'LOJA', 'Centro de Resultado - Código', 'DIAS_ADMITIDOS',
       'MAIS_DE15DIAS_ADMITIDOS', 'LOJA_ELEGIVEL', 'dias_afastados_totais',
       'DIAS_ATIVOS', 'MAIS_DE15DIAS_ATIVOS'],
      dtype='object')

In [264]:
# PARA RENOMEAR PARÂMETROS DE ALVO E NPS E INCLUIR NA PLANILHA DE CHECAGEM
RENOMEA={
    'sigla_loja':'LOJA',
    'alvo':'ALVO_ALCANCADO',
    'nps':'NPS'
    }

In [265]:
# PREPARANDO PLANILHA DE CHECAGEM
tina_tudo=pd.merge(
    tina_afastados,
    loja_nps_venda_alvo[['sigla_loja', 'alvo','nps']].rename(columns=RENOMEA),
    how='left',
    on='LOJA'
    )

In [266]:
tina_copia=tina_tudo

In [267]:
# CARREGANDO TODOS OS CARGOS CONTEMPLADOS PELA PREMIAÇÃO COLETIVA
cargos=pd.read_csv(F_CARGOS, sep=';')

In [268]:
# ATRIBUINDO O GRUPO DE PREMIAÇÃO PARA CADA CARGO
tina_tudo=pd.merge(
    tina_tudo, 
    cargos.rename(columns={'Cargo':'CARGO'}),
    how='left',
    on='CARGO'
    )

In [269]:
tina_tudo['Grupo'].fillna('NAO TINA', inplace=True)

In [270]:
# Função para atribuir valor da premiação dependendo do grupo de cargo
def premiacao_alvo(grupo,alvo):
    global PREMIOS
    alvo1 = dict(zip(PREMIOS['Grupo'], PREMIOS['ALVO1']))
    alvo2 = dict(zip(PREMIOS['Grupo'], PREMIOS['ALVO2']))
    if alvo == 'ALVO1':
        valor=alvo1[grupo]
    elif alvo == 'ALVO2':
        valor=alvo2[grupo]
    elif alvo == 'NAO':
        valor = 0.0
    else: valor=0.0
    return valor

In [271]:
# Atribuindo valor da premiação dependendo do grupo de cargo
tina_tudo['PREMIACAO']=tina_tudo.apply(
    lambda x: premiacao_alvo(
        x['Grupo'],x['ALVO_ALCANCADO'],
    ), axis=1)

In [272]:
tina_tudo['FALTAS']=np.where(tina_tudo['MATRICULA'].isin(faltas['MATRICULA']),'SIM','NAO')

In [273]:
#Salvando verba
# Entradas: v verba, n nome_verba, x numero_verba, f f_nome
def salva_verba(verba,num_verba,arq_nome):
#    v.rename(columns={ v.columns[0]: 'MATRICULA'}, inplace=True)
    verba.rename(columns={ verba.columns[1]: "VALOR" }, inplace=True)
    verba['ZERO'] = 0
    verba['VERBA'] = num_verba
    verba=verba[['MATRICULA', 'ZERO', 'VERBA','VALOR']]
    verba = verba[verba['VALOR'] > 0]
    # Saving as a excel file for RH
    writer = pd.ExcelWriter(arq_nome, engine='xlsxwriter')  # #
    verba.to_excel(writer, sheet_name="VERBA "+str(num_verba), index=False)
    writer.save()

In [274]:
# Salva verba apuração coletiva
salva_verba(
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['LOJA_ELEGIVEL']=='SIM') &
        (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM') &
        (tina_tudo['FALTAS']=='NAO')
    ].copy(),4117,FILE_SAI)

In [275]:
# Salva verba apuração coletiva
salva_verba(
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['LOJA_ELEGIVEL']=='SIM') &
        (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM')
    ].copy(),4117,FILE_SAI_SEM)

In [276]:
# SALVA PLANILHA DE CHECAGEM
tina_tudo.to_excel(FILE_CHECAGEM, index=False)